# When pull requests are raised, all members of this group will be notified
# and at least 1 member of this group will need to provide approval
# in order for the pull request to be merged
* @americanexpress/synapse-team