# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1





jobs:
  # Build, Test, and Deploy
  build-test-job:
    docker:
      - image: circleci/openjdk:11-jdk-stretch
    steps:
      - checkout
      - restore_cache:
          key: synapse-{{ checksum "pom.xml" }}
      - run: mvn -B clean package -DskipTests
      - save_cache: # saves the project dependencies
          paths:
            - ~/.m2
          key: synapse-{{ checksum "pom.xml" }}
      - run: mvn clean install -DskipTests
      - run: mvn test
      - store_test_results: # We use this timing data to optimize the future runs
          path: target/surefire-reports
  #      - run: mvn --settings ".circleci/settings.xml" -DskipTests deploy -P release

  # Test
  test-job:
    parallelism: 2 # parallel containers to split the tests among
    docker:
      - image: circleci/openjdk:11-jdk-stretch
    steps:
      - checkout
      - run: mvn test
      - store_test_results: # We use this timing data to optimize the future runs
          path: target/surefire-reports

  # Deploy to Maven Central
  maven-central-deploy-job:
    docker:
      - image: circleci/openjdk:11-jdk-stretch
    steps:
      - run: mvn --settings ".circleci/settings.xml" -DskipTests deploy -P release

  # Deploy to American Express
  american-express-deploy-job:
    docker:
      - image: circleci/openjdk:11-jdk-stretch
    steps:
      - run: mvn --settings ".circleci/settings.xml" -DskipTests deploy -P americanexpress

  # Deploy to JCenter
  jcenter-deploy-job:
    docker:
      - image: circleci/openjdk:11-jdk-stretch
    steps:
      - run: mvn --settings ".circleci/settings.xml" -DskipTests deploy -P jcenter

#workflows_setup:
#  - &context
#    context:
#      - maven_central_credentials
#      - gradle
#      - code_signing_credentials
#
#  - &default_branch
#      "main"


# Workflows that will schedule and execute jobs.
workflows:
  maven-central-build-test-deploy-workflow:
    jobs:
      - build-test-job
      - maven-central-deploy-job:
          context: maven_central_credentials
          requires:
            - build-test-job

  american-express-build-test-deploy-workflow:
    jobs:
      - build-test-job
      - american-express-deploy-job:
          context: gradle
          requires:
            - build-test-job


      #          <<: [ *context ]

      #      - test:
      #          requires:
      #            - build
#      - deploy:
#          requires:
#            - build
#            - test